---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_long_string }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %}{% endif %} </p>

  </header>

	{% if page.primaryimage %}
			<img class="img-rounded img-responsive primaryimage" src="{{ site.baseurl }}/assets/{{page.primaryimage}}">
		{% endif %}
	
	<div class="prep">
		<div class="recipe-banner-1"><span class="labeltext">Makes:</span> <br>{{ page.servings }}</div>
		<div class="recipe-banner-2"><span class="labeltext">Prep Time:</span> <br>{{ page.preptime }}</div>
		<div class="recipe-banner-3"><span class="labeltext">Cook Time:</span> <br>{{ page.cooktime }}</div>
	</div>
	<div class="page-content">
		<div class="ingredients">
				<h3>Ingredients</h3>
				<ul>
				{% for ingredient in page.ingredients %}
					<li>{{ ingredient }}</li>
				{% endfor %}
				</ul>
		</div>
		<div class="directions">
				<h3>Directions</h3>
			  		<div class="post-content" itemprop="articleBody">
			    		{{ content }}
	  				</div>
		</div>
	</div>
	<div class="prep"><span class="labeltext">Recipe Tags:</span> 
		{% for tags in page.tags %}
		<div class="label label-info">{{tags}}</div>
		{% endfor %}
	</div>
</article>
